@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Colombia<br />
    Medellin Atioquia<br />
    <abbr title="Phone">P:</abbr>
    +57 3122990350
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:OrlandoMoralesBenedetty@gmail.com">OrlandoMoralesBenedetty@gmail.com</a><br />
</address>